// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #00a3d3;
  --ion-color-primary-rgb: 0,163,211;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #008fba;
  --ion-color-primary-tint: #1aacd7;

  /** secondary **/
  --ion-color-secondary: #28C89e;
  --ion-color-secondary-rgb: 40,200,158;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #23b08b;
  --ion-color-secondary-tint: #3ecea8;

  /** tertiary **/
  --ion-color-tertiary: #EEDD8f;
  --ion-color-tertiary-rgb: 238,221,143;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d1c27e;
  --ion-color-tertiary-tint: #f0e09a;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #FF781F;
  --ion-color-warning-rgb: 236,155,35;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d0881f;
  --ion-color-warning-tint: #eea539;

  /** danger **/
  --ion-color-danger: #CD3636;
  --ion-color-danger-rgb: 205,54,54;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #b43030;
  --ion-color-danger-tint: #d24a4a;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** transparent **/
  --ion-color-transparent: rgba(0, 0, 0, 0);
  --ion-color-transparent-rgb: rgba(0, 0, 0, 0);
  --ion-color-transparent-contrast: rgba(0, 0, 0, 0);
  --ion-color-transparent-contrast-rgb: rgba(0, 0, 0, 0);
  --ion-color-transparent-shade: rgba(0, 0, 0, 0);
  --ion-color-transparent-tint: rgba(0, 0, 0, 0);
}
