.container-small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
}

.container-small p {
  text-align: center;
}

.kits-description {
  margin-top: 60px;
}

.stopmotion-logo {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 35px auto;
  display: block;
}

ion-button {
  ion-icon {
    font-size: 20px;
  }
}

.kits-footer {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
  margin: 100px auto 30px auto;
  padding: 20px;
  border-left: 4px solid #00a3d3;
  box-sizing: border-box;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, .1);
}

.kits-footer #kits_footer_logo {
  position: relative;
  left: calc(50% + 10px);
  transform: translateX(-50%);
  width: 90px;
  height: auto;
  margin-bottom: 5px;
}

.kits_footer_links {
  padding: 0;
  text-align: center;
  margin: 0;
}

.kits_footer_links li {
  display: inline-block;
  padding: 5px;
}

.kits_footer_links a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

.kits_footer_links a:hover {
  text-decoration: underline;
}

.gitlab_link {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;

  a {
    color: #999;
    text-decoration: none;
    transition: color .3s ease;
  }
}

#kits_gitlab_link {
  display: inline-block;
  width: auto;
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 3px;
  color: #999;
}

@media (max-width: 480px) {
  .container-small {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: space-between;
    height: 100%;
    margin: 0;
    width: 80%;
  }

  .kits-footer {
    margin: 50px auto 30px auto;
  }
}
