<ion-content [fullscreen]="true">
  <app-toolbar></app-toolbar>
  <app-framerate-slider></app-framerate-slider>
  <p *ngIf="!environment.production" class="ion-padding-horizontal ion-no-margin camera-state">
    <span *ngIf="state | async as state">
      Camera: {{ state[0] }}
    </span>
  </p>
  <div class="container">
    <app-timer></app-timer>
    <app-video #appVideo></app-video>
    <app-snapshot-canvas #appSnapshotCanvas></app-snapshot-canvas>
    <app-player-canvas #appPlayerCanvas></app-player-canvas>
  </div>
  <app-thumbnails></app-thumbnails>
  <app-tabbar></app-tabbar>

  <div class="screen-orientation-overlay">
      <div class="overlay-container">
        <ion-icon src="../../../assets/icons/custom/rotate-screen.svg" color="primary"></ion-icon>
        <h2>{{ 'pages_animator_orientation_hint' | translate }}</h2>          
      </div>
  </div>

</ion-content>
