/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import './theme/variables.scss';

@font-face {
  font-family: "Nunito";
  src: url("assets/font/nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Nunito";
  src: url("assets/font/nunito/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Nunito";
  src: url("assets/font/nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 17px;
  margin-top: env(safe-area-inset-top);
  margin-top: constant(safe-area-inset-top);
}

body,
* {
  font-family: "Nunito", sans !important;
}

p {
  font-family: "Nunito", sans;
  font-weight: 300;
  font-size: 16px;
}

ion-button {
  font-family: "Nunito", sans;
  font-weight: 700;
  font-size: 20px;
}

ion-toolbar {
  ion-button.md {
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
  }

  ion-button {
    padding-left: 5px !important;

    ion-icon {
      font-size: 26px !important;
    }
  }
}

ion-tab-bar {
  ion-icon {
    font-size: 24px !important;
  }

  ion-label {
    font-size: 11px;
    letter-spacing: 0;
  }
}

.swiper-container-horizontal>.swiper-scrollbar {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 50;
  height: 5px;
  opacity: 1 !important;
  width: 100%;
  margin-top: 10px;
  background: rgba(0, 163, 211, 0.1);

  .swiper-scrollbar-drag {
    background: var(--ion-color-primary);
  }
}

.toast-message {
  color: rgb(255, 255, 255);
  --color: #fff;
  font-size: 14px;
  line-height: 1.25;
}

video::-webkit-media-controls {
  opacity: 0;
}

ion-fab {
  display: block;
  z-index: 999999 !important;
}

@media (max-height: 680px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .container {
    height: unset !important;
  }
  body {
    height: 100vh !important;
    max-height: 100vh !important;
    overflow: hidden;
  }
  app-thumbnails, .container {
    display: none !important;
  }
}

/* modal headline (countdown) */
h2.countdown-headline{
  font-size: 22px;
  padding-left:20px;
  padding-right:20px;
  position: absolute;
  top: 60%;
  left: 0;
  text-align: center;
  width: 100%;
}